<form (submit)="onSubmit()">
 
    <input type="text" class="form-control" name="recherche" placeholder="recherche" [(ngModel)]="findValue" >
    <button class="btn btn-primary"  type="submit">chercher</button>
 </form>




<div class="card" style="width: 18rem;" *ngFor="let d of datas">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{d.titre}}</h5>
      <p class="card-text">{{d.genre}}</p>
 <button class="btn btn-primary" *ngIf="d.nbrShared==0" > modif</button>
 <button class="btn btn-primary" *ngIf="d.public==true" (click)="incNbr(d)" > incr</button>
 
    </div>
  </div>
  